/* Write your code here. */
.mainDiv {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  background-size: cover;
  min-height: 100vh;
}
.bodyDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.ulDiv {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
